body {
  margin: 0;
  background-color: azure;
}

.button-home{
  background-color: #3498db; /* Example background color */
    color: #fff; /* Example text color */
    padding: 10px 20px; /* Example padding */
    font-size: 16px; /* Example font size */
    border: none; /* Remove border */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 5px; /* Add some border-radius for rounded corners */
    margin-right: 10px; /* Add margin to create space between buttons */

}

.button-home:hover {
  
  background-color: #aa5d0a; 
  
}